{% extends "base_map.html" %}

{% block head %}
<style>
  .container {
    padding-top: 90px;
    font-size: 20px;
    font-family: "Open Sans", open-sans, sans-serif;
    width: 850px;
  }

  .tier {
    width: 25px;
    height: 25px;
    float: right;
    border-radius: 50%;
    margin: 0 5px;;
  }

  .tier.carbon {
    background: #43464b;
  }

  .tier.bronze {
    background: #cd7f32;
  }

  .tier.silver {
    background-color: #c0c0c0;
  }

  .tier.gold {
    background-color: #ffd700;
  }

  .tier.platinum {
    background-color: #e5e4e2;
  }

  table {
    border: 1px solid #46c1d2;
    padding: 15px;
    text-align: left;
    border-collapse: collapse;
  }

  th, td {
    border-bottom: 1px solid #46c1d2;
    padding: 15px;
    text-align: left;
  }

  th {
    background-color: #46c1d2;
    color: white;
    font-size: 18px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  .modal-header {
    padding: 30px;
    background-color: white;
    text-align: left;
    border-bottom: 1px solid grey;
    font-size: 28px;
  }

  #modal-header {
    padding: 30px;
  }

  .modal-body {
    padding: 15px;
    float: left;
    text-align: left;
    width: 100%;
  }

  .modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: white;
    border-top: 1px solid grey;
  }

  button.close {
    background: #46c1d2;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    display: flex;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    border-radius: 5px;
    align: center;
    opacity: 1;
  }

</style>
{% endblock %}

{% block body %}
<div class="container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Tier</th>
      <th>Point Balance</th>
      <th>Phone Number(s)</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>
        {% if user.location %}
          <a id="username" data-toggle="modal" data-location="{{ user.loc }}" data-name="{{ user.name }}">{{user.name}}</a>
        {% else %}
          {{user.name}}
        {% endif %}
      </td>
      <td><span>{{ user.tier }}</span>
        <span class="tier {{ user.tier.lower() }}"></span></td>
      <td>{{ user.points }}</td>
      <td>
        {% for phone in user.phone %}
        <p>{{ phone }}</p>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<!-- Modal -->
<div class="modal" id="loc-modal">
  <div class="modal-content">
    <div class="modal-header" id="modal-header">
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="close" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<script>
  const users = document.querySelectorAll('#username');
  console.log(users)
  const modal = document.getElementById('loc-modal');
  const closeButton = document.getElementsByClassName('close')[0];
  const header = document.getElementsByClassName('modal-header')[0];
  const body = document.getElementsByClassName('modal-body')[0];

  function openModal(e) {
      modal.style.display = "block";
      let name = document.createTextNode(`${e.target.dataset.name}'s Location:`);
      let location = e.target.dataset.location.length > 0 ? e.target.dataset.location : `${e.target.dataset.name}'s location is unavailable`;
      let loc = document.createTextNode(location);
      header.removeChild(header.childNodes[0]);
      header.appendChild(name);
      body.removeChild(body.childNodes[0]);
      body.appendChild(loc);
  }

  closeButton.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(e) {
    if (e.target === modal) {
      modal.style.display = "none";
    }
  }

  users.forEach((user) => {
    user.addEventListener('click', openModal)
  })
</script>

{% endblock %}
